.nav {
  position: absolute;
  top: 25px;
  left: 0;

  display: flex;
  justify-content: flex-end;
}

.nav-logo-img {
  width: 24px;
  height: 24px;
}

.header {
  position: relative;

  display: flex;
  justify-content: center;
  max-width: 1200px;
}
